.modal-backdrop {
  position: fixed;
  width: 938px;
  height: 1001px;
  width: 100%;
  height: 100%;
  angle: 0 deg;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: rgba(10, 10, 10, 0.4);
  top: 0;
  left: 0;
}

.form-card {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  background: #fff;
  border-radius: 16px;
  width: 530px;
  height: 540px;
  padding: 30px;
  padding-top: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.form-header {
  background-color: #ebf9da;
  margin: -10px -30px 20px -30px;
  padding: 2px 30px 16px;
  text-align: center;
  border-radius: 16px 16px 0 0;
}

.logo-title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  line-height: 1;
}

.form-logo {
  height: 40px;
  width: auto;
  display: block;
}

.colorSync {
  margin: 0;
  position: relative;
  top: 4px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #004b2f;
}

.form-title {
  margin: 12px 0 0;
  color: #004b2f;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.form-body {
  display: flex;
  flex-direction: column;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.full-width {
  grid-column: span 2;
}

input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 4px;
}

label {
  font-size: 14px;
  color: #555;
}

.form-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 16px;
}

.add-btn {
  background-color: #83c727;
  color: white;
  border: 1px;
  padding: 10px 28px;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #eee;
  color: #333;
  border: 1px solid #83c727;
  padding: 10px 28px;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.error-text {
  color: red;
  text-align: center;
  margin-top: 10px;
}
