* {
  box-sizing: border-box;
}

.student-list-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  font-family: "Segoe UI", sans-serif;
  background: #fff;
  border-radius: 8px;
  position: relative;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-student-btn {
  background-color: #83c727;
  color: white;
  padding: 16px 24px;
  gap: 8px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.add-student-btn:hover {
  background-color: #6baa21;
}

.search-bar {
  position: absolute;
  top: 35px;
  right: 300px;
}

.search-bar input {
  padding: 10px 14px;
  width: 100%;
  max-width: 300px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.student-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  margin-top: 20px;
}

.student-table th,
.student-table td {
  padding: 14px 16px;
  text-align: left;
  border-bottom: 1px solid black;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1.4;
}

.user-info {
  align-items: center;
  gap: 10px;
  font: inter;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.status.enrolled {
  color: green;
  font-weight: bold;
}

.delete-icon {
  width: 20px;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.page {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.page.active {
  background-color: #8fd026;
  color: white;
  font-weight: bold;
}

.allStudents {
  color: #83c727;
}

@media (max-width: 768px) {
  .header-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .search-bar {
    position: static;
    margin-top: 10px;
  }

  .search-bar input {
    max-width: 100%;
  }
}
